@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rotonto Regular';
    src: url('/fonts/rotonto-regular.woff2') format('woff2'),
      url('/fonts/rotonto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'SF Mono Regular';
    src: url('/fonts/sf-mono-regular.woff2') format('woff2'),
      url('/fonts/sf-mono-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
}

/* General */

img,
svg,
video {
  @apply block w-full h-auto;
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
  @apply font-header;
}

/* Animations */

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: no-preference) {
  /**
    * Required class: `lsa` (initializes animations and defaults to fade-in)
    * Note: Add `no-repeat` class to prevent animations from repeating on scroll
    */
  .lsa {
    @apply opacity-0 transform transition-[opacity,transform] duration-700;

    /* Slide animations */
    &.lsa-slide-up {
      @apply translate-y-4;
    }
    &.lsa-slide-down {
      @apply -translate-y-4;
    }
    &.lsa-slide-left {
      @apply -translate-x-4;
    }
    &.lsa-slide-right {
      @apply translate-x-4;
    }
    &.lsa-slide-down-right {
      @apply -translate-x-4 -translate-y-4;
    }
    &.lsa-slide-down-left {
      @apply translate-x-4 -translate-y-4;
    }
    &.lsa-slide-up-right {
      @apply -translate-x-4 translate-y-4;
    }
    &.lsa-slide-up-left {
      @apply translate-x-4 translate-y-4;
    }

    /* Handle active state */
    &.active {
      @apply opacity-100 translate-x-0 translate-y-0;
    }
  }
}
