---
import aboutHeroImage from '../assets/about-hero.png'
import ImageHeader from '../components/ui/ImageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="About">
  <ImageHeader
    title="Crafting Visual Experiences"
    imageSrc={aboutHeroImage}
    imageAlt="Tyler Childers concert showing screens, lights, and a crowd of people"
  />

  <main>
    <section>
      <div class="grid md:grid-cols-[250px,1fr] gap-4 md:gap-16 lg:gap-32 py-6 border-t-[1px]">
        <h2 class="text-base uppercase">Who We Are</h2>

        <div>
          <p class="mb-4 text-m">
            SUPERVOID is a <span class="text-magenta-900">cutting-edge</span> animation, VFX, and technical
            design studio.
          </p>
          <p>
            We specialize in creating dynamic, interactive media packages tailored for artists,
            agencies, and brands. Our team combines creativity with technical expertise to push the
            boundaries of visual storytelling, delivering projects that captivate and engage
            audiences.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
