---
import aboutHeroImage from '../assets/about-hero.png'
import ImageHeader from '../components/ui/ImageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="About">
  <ImageHeader
    title="Crafting Visual Experiences"
    imageSrc={aboutHeroImage}
    imageAlt="Tyler Childers concert showing screens, lights, and a crowd of people"
  />

  <main>
    <section>
      <!-- Content goes here -->
    </section>
  </main>
</Layout>
