---
import aboutCarouselOneImage from '../assets/about-carousel-1.png'
import aboutCarouselTwoImage from '../assets/about-carousel-2.png'
import aboutCarouselThreeImage from '../assets/about-carousel-3.png'
import aboutHeroImage from '../assets/about-hero.jpg'
import Carousel from '../components/ui/Carousel.astro'
import ImageHeader from '../components/ui/ImageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="About">
  <ImageHeader
    title="Crafting Visual Experiences"
    imageSrc={aboutHeroImage}
    imageAlt="Spiritbox at Camden Roundhouse"
    imageCaption="Spiritbox at Camden Roundhouse - Video Content by SUPERVOID"
  />

  <main>
    <section class="lsa lsa-slide-up no-repeat pt-4 pb-8">
      <div class="grid md:grid-cols-[250px,1fr] gap-4 md:gap-16 lg:gap-32 py-6 border-t-[1px]">
        <h2 class="text-base uppercase">Who We Are</h2>

        <div>
          <p class="mb-4 text-m">
            SUPERVOID is a <span class="text-magenta-900">visual design studio</span> specializing in
            dynamic, interactive media for live performances, narrative film, and brand identity.
          </p>
          <p>
            We blend creativity with technical expertise to push the boundaries of visual
            storytelling and captivate audiences.
          </p>
        </div>
      </div>
    </section>

    <section
      id="join-our-team"
      class="max-w-screen-md xl:max-w-screen-xl m-auto grid xl:grid-cols-2 gap-16 xl:gap-0 lsa lsa-slide-up no-repeat"
    >
      <Carousel
        images={[
          { src: aboutCarouselOneImage, alt: 'Taking Back Sunday' },
          { src: aboutCarouselTwoImage, alt: 'Spiritbox' },
          { src: aboutCarouselThreeImage, alt: 'Rage Against the Machine' },
        ]}
        class="self-center xl:-translate-y-12 xl:translate-x-4"
      />

      <div
        class="flex flex-col justify-center gap-8 p-8 xl:p-12 rounded-xl xl:translate-y-12 lg:-translate-x-4 z-10 bg-magenta-900 text-center xl:text-left"
      >
        <h2 class="text-l text-stroke">Join Our Team</h2>
        <p>
          We're always on the lookout for talented individuals to join our team. If you're
          passionate about animation, VFX, and design, and want to work on exciting projects, check
          out our current openings and become part of the Supervoid family.
        </p>
        <a
          href="/jobs"
          class="mx-auto xl:mx-0 py-4 px-8 text-center max-w-fit border-2 border-black rounded-full hover:shadow-[4px_4px_0_var(--color-black)] hover:text-white active:translate-x-1 active:translate-y-1 active:shadow-none text-stroke text-m transition duration-300"
          >Explore Careers</a
        >
      </div>
    </section>
  </main>
</Layout>
