---
import { Icon } from 'astro-icon/components'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact">
  <header class="pt-[calc(var(--nav-height)+6rem)]">
    <h1 class="text-xl mb-4 drop-shadow-lg text-center uppercase">Get In Touch</h1>
  </header>

  <main>
    <section id="contact-info" class="text-center mb-24">
      <h2 class="text-l uppercase text-center mb-4">General Inquiries</h2>
      <a
        href="mailto:info@supervoid.tv?subject=General%20Inquiry"
        class="flex justify-center items-center gap-4 text-xs"
      >
        <Icon name="tabler:mail" class="w-8 h-8 text-magenta-900" />
        info@supervoid.tv</a
      >
    </section>
  </main>
</Layout>
