---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact">
  <div class="mt-32" slot="header-content">
    <h1 class="text-3xl md:text-4xl mb-4 drop-shadow-lg">Contact page</h1>
  </div>
</Layout>
