---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Animation, VFX, and Technical Design Studio">
  <div class="mt-32" slot="header-content">
    <h1 class="text-3xl md:text-4xl mb-4 drop-shadow-lg">SUPERVOID</h1>
    <p class="text-base drop-shadow-lg">Psychedelic Dreams for Stage + Screen</p>
  </div>
  <main>
    <h2 class="text-l">Home page</h2>
  </main>
</Layout>
