---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Animation, VFX, and Technical Design Studio">
  <main>
    <h1>Supervoid</h1>
    <p>Psychedelic Dreams for Stage + Screen</p>
  </main>
</Layout>
