---
import Layout from '../layouts/Layout.astro'
import WorkPreviewCard from '../components/ui/WorkPreviewCard.astro'
import { getCollection } from 'astro:content'
import LightingPreviewCard from '../components/ui/LightingPreviewCard.astro'
import CTA from '../components/text/CTA.astro'

// Get the video and lighting work data
const videoWorkData = await getCollection('work')
const lightingWorkData = await getCollection('lighting')

// Chronological order - sort by id in descending order
const sortedVideoWorkData = [...videoWorkData].sort((a, b) => b.data.id - a.data.id)
const sortedLightingWorkData = [...lightingWorkData].sort((a, b) => b.data.id - a.data.id)
---

<Layout title="Animation, VFX, and Technical Design Studio">
  <header class="pt-[calc(var(--nav-height)+2rem)]">
    <div id="header-content" class="flex flex-col gap-6">
      <h1 class="text-xl md:text-2xl lg:text-3xl lsa lsa-slide-up no-repeat">SUPERVOID</h1>

      <p class="max-w-3xl text-base lsa lsa-slide-up no-repeat delay-100">
        <span class="text-magenta-900 lsa no-repeat delay-200">SUPERVOID</span> is a <span
          class="text-magenta-900 lsa no-repeat delay-300"
          >creative and technical design studio</span
        > specializing in screen visuals, lighting, lasers, scenic design and custom control setups <span
          class="text-magenta-900 lsa no-repeat delay-400">for touring artists.</span
        >
      </p>

      <div class="lsa lsa-slide-up no-repeat delay-500">
        <CTA text="Contact Us Today" href="/contact" />
      </div>
    </div>
  </header>

  <main class="relative w-full">
    <section id="work" class="pt-0">
      <div class="grid md:grid-cols-2 md:gap-x-10 gap-y-8 md:gap-y-12">
        <h2 class="sr-only">Recent Video Work</h2>
        {sortedVideoWorkData.map((work) => <WorkPreviewCard work={work} />)}
        <h2 class="sr-only">Recent Lighting Work</h2>
        {sortedLightingWorkData.map((work) => <LightingPreviewCard work={work} />)}
      </div>
    </section>
  </main>
</Layout>
