---
import { Icon } from 'astro-icon/components'
import Layout from '../layouts/Layout.astro'
import WorkPreviewCard from '../components/ui/WorkPreviewCard.astro'
import { getCollection } from 'astro:content'

const workData = await getCollection('work')
// Chronological order - sort by id in descending order
const sortedWorkData = [...workData].sort((a, b) => b.data.id - a.data.id)
---

<Layout title="Animation, VFX, and Technical Design Studio">
  <div
    slot="video-slot"
    class="relative max-w-screen-2xl mx-auto pb-[56.25%] h-0 w-full after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-b after:from-transparent after:to-black mb-36 md:mb-0"
  >
    <mux-player
      playback-id="pT6AeEe1Ieg00SZB00igR3n01jnD97AZSwaHZWqpRs1EXk"
      metadata-video-title="Supervoid Hero Player: Reel"
      accent-color="var(--color-magenta-900)"
      class="w-full h-full absolute top-0 left-0"
      style="--controls: none;"
      thumbnail-time="0"
      loop
      muted
      autoplay></mux-player>

    <header>
      <div
        id="header-content"
        class="absolute top-[110%] md:top-1/2 left-0 md:-translate-y-1/2 px-4 md:px-8 z-10"
      >
        <h1 class="text-2xl md:text-3xl lg:text-4xl mb-4 drop-shadow-lg lsa lsa-slide-up no-repeat">
          SUPERVOID
        </h1>
        <p
          class="text-xs md:text-base lg:text-s drop-shadow-lg lsa lsa-slide-up no-repeat delay-300"
        >
          Psychedelic Dreams for Stage + Screen
        </p>
      </div>
      <div
        id="video-controls"
        class="absolute bottom-4 md:bottom-8 right-4 md:right-8 flex flex-col lg:flex-row gap-4 lg:gap-6 z-10"
      >
        <button
          id="play"
          class="hidden hover:scale-110 transition-all duration-200 active:scale-95"
          aria-label="Play"
          title="Play"
        >
          <Icon name="tabler:player-play" class="w-6 lg:w-8 text-magenta-900" />
        </button>

        <button
          id="pause"
          class="hover:scale-110 transition-all duration-200 active:scale-95"
          aria-label="Pause"
          title="Pause"
        >
          <Icon name="tabler:player-pause" class="w-6 lg:w-8 text-magenta-900" />
        </button>

        <button
          id="volume-off"
          class="hover:scale-110 transition-all duration-200 active:scale-95"
          aria-label="Volume Off"
          title="Volume Off"
        >
          <Icon name="tabler:volume-off" class="w-6 lg:w-8 text-magenta-900" />
        </button>

        <button
          id="volume-on"
          class="hidden hover:scale-110 transition-all duration-200 active:scale-95"
          aria-label="Volume On"
          title="Volume On"
        >
          <Icon name="tabler:volume" class="w-6 lg:w-8 text-magenta-900" />
        </button>
      </div>
    </header>
  </div>

  <main class="relative w-full bg-black">
    <section id="work">
      <h2 class="sr-only">Recent Work</h2>
      <p
        class="max-w-screen-lg m-auto pt-6 md:pt-0 pb-16 md:pb-24 text-m md:text-center lsa lsa-slide-up no-repeat delay-700 md:delay-0"
      >
        <span class="text-magenta-900">SUPERVOID</span> is a visual design studio specializing in video
        content and production design for touring artists, festivals, art installations, narrative films,
        and beyond.
      </p>

      <div class="grid md:grid-cols-2 md:gap-x-10 gap-y-8 md:gap-y-12">
        {sortedWorkData.map((work) => <WorkPreviewCard work={work} />)}
      </div>
    </section>
  </main>
</Layout>

<script>
  const muxPlayer = document.querySelector('mux-player') as HTMLVideoElement
  const play = document.getElementById('play') as HTMLButtonElement
  const pause = document.getElementById('pause') as HTMLButtonElement
  const volumeOff = document.getElementById('volume-off') as HTMLButtonElement
  const volumeOn = document.getElementById('volume-on') as HTMLButtonElement

  // Play
  function playVideo(this: HTMLButtonElement) {
    muxPlayer.play()
    this.classList.toggle('hidden')
    pause?.classList.toggle('hidden')
  }

  // Pause
  function pauseVideo(this: HTMLButtonElement) {
    muxPlayer.pause()
    this.classList.toggle('hidden')
    play?.classList.toggle('hidden')
  }

  // Volume on/off
  function toggleVolume() {
    muxPlayer.muted = !muxPlayer.muted
    volumeOff?.classList.toggle('hidden')
    volumeOn?.classList.toggle('hidden')
  }

  // Event listeners
  play.addEventListener('click', playVideo)
  pause?.addEventListener('click', pauseVideo)
  volumeOff?.addEventListener('click', toggleVolume)
  volumeOn?.addEventListener('click', toggleVolume)
</script>
