---
import jobsHeroImage from '../assets/jobs-hero.png'
import ImageHeader from '../components/ui/ImageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Jobs">
  <ImageHeader
    title="Join Our Team"
    imageSrc={jobsHeroImage}
    imageAlt="Rage Against the Machine concert with Supervoid screen displaying 'Fear is Your Only God' quote"
  />

  <main>
    <section>
      <div class="grid md:grid-cols-[250px,1fr] gap-4 md:gap-16 lg:gap-32 py-6 border-t-[1px]">
        <h2 class="text-base uppercase">OUR PHILOSOPHY</h2>

        <div>
          <p class="mb-4 text-m">
            At Supervoid, we believe in pushing the boundaries of <span class="text-magenta-900"
              >creativity</span
            > and <span class="text-magenta-900">innovation</span>.
          </p>
          <p>
            Creativity is at the heart of everything we do. We foster an environment where ideas can
            flourish, collaboration is key, and everyone's voice matters. Our team is dedicated to
            creating dynamic and interactive media experiences that captivate audiences.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
