---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Press">
  <header class="pt-[calc(var(--nav-height)+2rem)]">
    <h1 class="text-3xl md:text-4xl mb-4 drop-shadow-lg">Press page</h1>
  </header>
</Layout>
