---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import PostPreviewCard from '../components/ui/PostPreviewCard.astro'
import Layout from '../layouts/Layout.astro'

const allPressPosts = (await getCollection('press')) as CollectionEntry<'press'>[]
// Chronological order - sort by id in descending order
const sortedPressPosts = [...allPressPosts].sort((a, b) => +b.data.id - +a.data.id)
---

<Layout title="Press" description="SUPERVOID press and media coverage.">
  <header class="pt-[calc(var(--nav-height)+6rem)] lsa lsa-slide-up no-repeat">
    <h1 class="text-xl mb-4 drop-shadow-lg text-center uppercase">Press & Media</h1>
  </header>

  <main>
    <section class="grid md:grid-cols-2 gap-x-10 gap-y-12">
      {sortedPressPosts.map((post) => <PostPreviewCard post={post} />)}
    </section>
  </main>
</Layout>
