---
import CTA from '../components/text/CTA.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Reel">
  <div class="relative max-w-screen-2xl mx-auto pb-[56.25%] h-0 w-full mb-36">
    <mux-player
      playback-id="pT6AeEe1Ieg00SZB00igR3n01jnD97AZSwaHZWqpRs1EXk"
      accent-color="var(--color-magenta-900)"
      class="w-full"></mux-player>
  </div>

  <CTA href="/" text="Click to Enter Site" class="mx-auto mb-36 uppercase" />
</Layout>
