---
import CTA from '../components/text/CTA.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Reel" description="SUPERVOID 2024 Reel">
  <main class="max-w-screen-xl m-auto p-0 flex flex-col items-center gap-6">
    <mux-player
      playback-id="pT6AeEe1Ieg00SZB00igR3n01jnD97AZSwaHZWqpRs1EXk"
      accent-color="var(--color-magenta-900)"></mux-player>
    <CTA href="/" text="Click to Enter Site" class="uppercase" />
  </main>
</Layout>
