---
import serversHeroImage from '../assets/servers-hero.webp'
import ImageHeader from '../components/ui/ImageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Servers">
  <ImageHeader
    title="Powering Your Performance"
    imageSrc={serversHeroImage}
    imageAlt="Stage setup with instruments and a screen displaying Supervoid server testing"
  />

  <main>
    <section>
      <!-- Content goes here -->
    </section>
  </main>
</Layout>
