---
import serversHeroImage from '../assets/servers-hero.webp'
import ImageHeader from '../components/ui/ImageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Servers">
  <ImageHeader
    title="Powering Your Performance"
    imageSrc={serversHeroImage}
    imageAlt="Stage setup with instruments and a screen displaying Supervoid server testing"
  />

  <main>
    <section>
      <div class="grid md:grid-cols-[250px,1fr] gap-4 md:gap-16 lg:gap-32 py-6 border-t-[1px]">
        <h2 class="text-base uppercase">CUSTOM MEDIA SERVER SOLUTIONS</h2>
        <p>
          We design and build custom media server racks in house to meet the needs of shows large
          and small. Our SVX series media servers pack a big punch in a small footprint.
        </p>
      </div>
    </section>
  </main>
</Layout>
