---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('work')
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: { post },
  }))
}

const { post } = Astro.props
---

<Layout title={post.data.title}>
  <header class="pt-[var(--nav-height)]">
    <div class="relative pb-[56.25%] mb-36 h-0 rounded-xl overflow-hidden lsa no-repeat">
      <mux-player
        playback-id={post.data.gifs.hero}
        metadata-video-title="Supervoid Hero Player: Reel"
        accent-color="var(--color-magenta-900)"
        class="w-full"
        muted></mux-player>
      <h1
        data-page-title
        class="absolute left-1 bottom-1 z-50 mr-1 px-4 py-1 bg-magenta-900 text-xs md:text-base lg:text-s uppercase text-white rounded-full"
      >
        {post.data.title}
      </h1>
    </div>
  </header>
</Layout>

<style>
  mux-player {
    --volume-range: none;
    --mute-button: none;
  }
</style>

<script>
  const muxPlayer = document.querySelector(`mux-player`) as HTMLVideoElement
  const title = document.querySelector(`[data-page-title]`)

  function handlePlayVideo() {
    title?.classList.add('hidden')
  }

  function handlePauseVideo() {
    title?.classList.remove('hidden')
  }

  muxPlayer.addEventListener('play', handlePlayVideo)
  muxPlayer.addEventListener('pause', handlePauseVideo)
</script>
