---
import { Icon } from 'astro-icon/components'
import { Picture } from 'astro:assets'

export interface Props {
  images: {
    src: ImageMetadata
    alt: string
  }[]
  class?: string
}

const { images, class: className } = Astro.props
---

<!-- TODO: can horizonal scrolling bug on mobile be fixed without overflow-hidden? -->
<div class={`swiper min-w-0 max-w-full ${className} overflow-hidden md:overflow-visible`}>
  <div class="swiper-wrapper mb-8">
    {
      images.map((image) => (
        <div class="swiper-slide rounded-xl">
          <Picture src={image.src} formats={['avif', 'webp']} alt={image.alt} />
        </div>
      ))
    }
  </div>

  <div id="pagination" class="max-w-80 mx-auto flex justify-between">
    <button
      id="left"
      class="hover:rotate-2 active:scale-95 active:rotate-0 transition duration-300"
      aria-label="Previous"
      title="Previous"
    >
      <Icon name="left" class="w-32" />
    </button>

    <button
      id="right"
      class="hover:-rotate-2 active:scale-95 active:rotate-0 transition duration-300"
      aria-label="Next"
      title="Next"
    >
      <Icon name="right" class="w-32" />
    </button>
  </div>
</div>

<script>
  import Swiper from 'swiper'
  import 'swiper/css/bundle'
  import { EffectCards } from 'swiper/modules'

  const leftButton = document.getElementById('left') as HTMLButtonElement
  const rightButton = document.getElementById('right') as HTMLButtonElement

  // Track page to determine carousel effect
  const { pathname } = new URL(window.location.href)

  // init Swiper:
  const swiper = new Swiper('.swiper', {
    effect: pathname !== '/servers' ? 'cards' : 'slide',
    grabCursor: true,
    modules: [EffectCards],
    speed: 300,
    loop: true,
    cardsEffect: {
      rotate: false,
      slideShadows: true,
    },
  })

  leftButton.addEventListener('click', () => swiper.slidePrev())
  rightButton.addEventListener('click', () => swiper.slideNext())
</script>
