---
import { Picture } from 'astro:assets'

export interface Props {
  images: {
    src: ImageMetadata
    alt: string
  }[]
  class?: string
}

const { images, class: className } = Astro.props
---

<div class={`swiper min-w-0 max-w-full ${className}`}>
  <div class="swiper-wrapper mb-12">
    {
      images.map((image) => (
        <div class="swiper-slide rounded-xl">
          <Picture src={image.src} formats={['avif', 'webp']} alt={image.alt} />
        </div>
      ))
    }
  </div>

  <div class="swiper-pagination"></div>
</div>

<style>
  /* Swiper Pagination Styling */
  .swiper {
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-horizontal-gap: 10px;
    --swiper-pagination-bullet-inactive-color: #9b9b9b;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-color: #ff00ff;
  }

  .swiper.swiper-cards {
    overflow-x: hidden;
  }

  @media (min-width: 768px) {
    .swiper.swiper-cards {
      overflow-x: visible;
    }
  }

  .swiper-pagination-bullet {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .swiper-pagination-bullet:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }

  .swiper-pagination-bullet-active {
    box-shadow: 0 0 0 2px rgba(255, 0, 255, 0.3);
  }

  .swiper-pagination-bullet-active:hover {
    box-shadow: 0 0 0 4px rgba(255, 0, 255, 0.5);
  }
</style>

<script>
  import Swiper from 'swiper'
  import 'swiper/css/bundle'
  import { EffectCards, Pagination, Keyboard, Autoplay } from 'swiper/modules'

  // Get current page
  const { pathname } = new URL(window.location.href)

  // init Swiper:
  const swiper = new Swiper('.swiper', {
    effect: pathname.includes('jobs') ? 'cards' : 'slide', // Render by page
    grabCursor: true,
    modules: [EffectCards, Pagination, Keyboard, Autoplay],
    speed: 500,
    loop: true,
    centeredSlides: true,
    cardsEffect: {
      rotate: false,
      slideShadows: true,
    },
    pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: true,
    },
    keyboard: {
      enabled: true,
      onlyInViewport: true,
    },
    autoplay: {
      delay: 4000,
      disableOnInteraction: true,
      pauseOnMouseEnter: true,
    },
  })
</script>
