---
import AnimatedCTA from '../text/AnimatedCTA.astro'

export interface Props {
  prevPost?: any
  nextPost?: any
  prevPostSlug?: string
  nextPostSlug?: string
  prevPostTitle?: string
  nextPostTitle?: string
}

const { prevPost, nextPost, prevPostSlug, nextPostSlug, prevPostTitle, nextPostTitle } = Astro.props
---

<section id="pagination" class="pagination flex flex-col md:flex-row justify-between gap-4 pt-0">
  {
    prevPost && (
      <AnimatedCTA
        href={`${prevPostSlug}`}
        title={`${prevPostTitle}`}
        text="Previous"
        direction="left"
      />
    )
  }
  {
    nextPost && (
      <AnimatedCTA
        href={`${nextPostSlug}`}
        title={`${nextPostTitle}`}
        text="Next"
        direction="right"
      />
    )
  }
</section>
