---
import { Picture } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  post: CollectionEntry<'press'>
  isAboveTheFold: boolean
}

const { post, isAboveTheFold } = Astro.props
---

<article class="lsa lsa-slide-up no-repeat group">
  <a href={`/press/${post.slug}`}>
    <div class="mb-4 h-[clamp(250px,30vw,400px)] overflow-hidden rounded-xl">
      <Picture
        src={post.data.image}
        alt={post.data.imageAlt}
        formats={['avif', 'webp']}
        loading={isAboveTheFold ? 'eager' : 'lazy'}
        class="brightness-75 group-hover:brightness-100 group-hover:scale-105 transition duration-(--transition) w-full h-full object-cover"
      />
    </div>
    <h2 class="mb-2 text-s">
      {post.data.title}
    </h2>
  </a>
</article>
