---
import SocialIcon from '../text/SocialIcon.astro'
---

<ul class="flex gap-6">
  <li>
    <SocialIcon
      href="https://www.instagram.com/supervoidtv/"
      name="tabler:brand-instagram"
      ariaLabel="Instagram"
    />
  </li>
  <li>
    <SocialIcon href="mailto:info@supervoid.tv" name="tabler:mail" ariaLabel="Email" />
  </li>
</ul>
