---
import SocialIcon from '../text/SocialIcon.astro'
---

<ul class="flex gap-10">
  <li>
    <SocialIcon href="https://www.instagram.com/supervoidtv/" name="tabler:brand-instagram" />
  </li>
  <li>
    <SocialIcon href="https://www.facebook.com/supervoidtv" name="tabler:brand-facebook" />
  </li>
  <li>
    <SocialIcon href="mailto:info@supervoid.tv" name="tabler:mail" />
  </li>
</ul>
